[Unit]
Description=Gear Provisioning Daemon (geard)
Documentation=https://github.com/openshift/geard

[Service]
Type=simple
ExecStart=/usr/bin/docker run \
          -v /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket \
          -v /var/lib/containers:/var/lib/containers \
          -v /etc/systemd/system/container-active.target.wants:/etc/systemd/system/container-active.target.wants \
          -p 43273:43273 \
          -a stderr -a stdout \
          openshift/geard:latest

[Install]
WantedBy=multi-user.target
