[Unit]
Description=Gear Provisioning Daemon (geard)
Documentation=https://github.com/openshift/geard
After=docker.service
Requires=docker.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/gear
ExecStart=/usr/bin/gear daemon $GEARD_OPTS

[Install]
WantedBy=multi-user.target
