.vagrant
geard.linux64
go
.project
/tests.test
/gear
geard
switchns
./gear-auth-keys-command
gear.mac
/bin
/src
/vendor/pkg
/vendor/bin
vendor/src/code.google.com/p/go.net/
vendor/src/code.google.com/p/go.text/
vendor/src/code.google.com/p/gosqlite/
vendor/src/github.com/coreos/
vendor/src/github.com/dotcloud/
vendor/src/github.com/gorilla/
vendor/src/github.com/kr
contrib/demo/deploy_eap_cluster.json.*
