policy_module(geard,1.0.0)

require {
	type accountsd_t;
	type init_t;
	type useradd_t;  
	class file { read getattr open };
	class process { siginh rlimitinh noatsecure };
	class dir search;
	type chkpwd_t;
	type home_root_t;
	type sshd_t;
}

#============= accountsd_t ==============
allow accountsd_t init_t:file { read getattr open };
allow accountsd_t init_t:dir search;
allow accountsd_t useradd_t:process { siginh noatsecure rlimitinh };

#============= sshd_t ==============
allow sshd_t chkpwd_t:process { siginh rlimitinh noatsecure };
allow sshd_t home_root_t:file { read getattr open };